.inputComp {
  width: 100%;
  max-width: 380px;
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
  margin-bottom: 25px;
  padding: 5px;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  font-family: var(--fontFamily);
  font-size: 1.1rem;
  text-align: center;
  color: var(--verde);
}

.inputComp::placeholder {
  color: inherit;
}
.inputComp:focus {
  background-color: var(--verde);
  color: var(--blanco);
}
.inputComp::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.inputComp::-webkit-file-upload-button {
  font-family: var(--fontFamily);
  padding: 6px 30px;
  font-size: 1.1rem;
  color: var(--blanco);
  background-color: var(--verdeOscuro);
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.correct {
  /*   outline: 1px solid green; */
  border-bottom: 2px solid var(--verdeOscuro);
}
.incorrect {
  /* outline: 1px solid red; */
  border-bottom: 2px solid var(--err);
}
