.icon {
  background-color: var(--verdeOscuro);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid white;
  outline: 1px solid var(--verdeClaro);
}
.mapIndex {
  width: 28vw;
  height: 28vh;
  margin: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
